.feature-card6-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card6-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card6-feature-card {
    flex-direction: row;
  }
  .feature-card6-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card6-container {
    flex-direction: column;
  }
}

.programs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.programs-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.programs-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.programs-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.programs-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.programs-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.programs-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.programs-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.programs-login {
  margin-right: 32px;
}
.programs-burger-menu {
  display: none;
}
.programs-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.programs-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.programs-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.programs-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.programs-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.programs-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.programs-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.programs-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.programs-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.programs-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.programs-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.programs-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.programs-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programs-programs {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-program-container {
  height: 1063px;
}
.programs-features {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.programs-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-program-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.programs-program-subheading {
  font-size: 18px;
  text-align: center;
}
.programs-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.programs-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.programs-nav222 {
  margin-left: var(--dl-space-space-unit);
}
.programs-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.programs-nav422 {
  margin-left: var(--dl-space-space-unit);
}
.programs-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.programs-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.programs-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.programs-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.programs-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.programs-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .programs-desktop-menu {
    display: none;
  }
  .programs-burger-menu {
    display: flex;
  }
  .programs-program-subheading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .programs-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .programs-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .programs-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .programs-program-subheading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .programs-container2 {
    grid-template-columns: 1fr;
  }
  .programs-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .programs-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .programs-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .programs-text17 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .programs-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .programs-mobile-menu1 {
    padding: 16px;
  }
  .programs-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-footer {
    padding: var(--dl-space-space-unit);
  }
  .programs-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .programs-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .programs-text17 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
